/* Page style */
.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url("../assets/CulturaInca.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.login-menu{
    width: 35%;
    height: 40%;
    background: rgba(221, 220, 220, 0.35);
    border-radius: 20px;
}

.login-menu .title{
  color: var(--color-text-II) !important;
}

.login-menu .header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
}

.header .btn{
  width: 50%;
  background: rgba(160, 160, 160, 0.1);
  border: none;
  color: var(--color-text-III);
}

.btn.active{
  background: rgba(230, 230, 230, 0.7);
  font-weight: 700;
}

.btn:hover{
  cursor: pointer;
  background: rgba(200, 200, 200, 0.4);
}

.tab-effect {
  position: relative;
  background: none;
  border: none;
  color: var(--color-text-II);
  cursor: pointer;
  overflow: hidden;
}

/* upper line */
.tab-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--color-text-I);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s ease-out;
}

/* hover */
.tab-effect:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* activo */
.tab-effect.active::after {
  transform: scaleX(1);
}


/* Inner components */
.user-name{
  width: 80%;
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin: auto 0;
}

.user-name .name{
  width: 35%;  
}

.user-name .lastName{
  width: 65%;
}

.body {
  width: 100%;
  height: calc(100% - 60px);
  padding: 20px;
  transition: background-color 0.3s ease;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* tab-active */
.tab-login-active,
.tab-signup-active {
  background: rgba(230, 230, 230, 0.7);
}

/* Inputs form */
/* From Uiverse.io by AbanoubMagdy1 */ 
.wave-group {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.wave-group .input {
  font-size: 1rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-text-I);
  background: transparent;
 color: var(--color-text-I);
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: var(--color-text-III);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: var(--color-text-I);
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 100%;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--color-text-I);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

/* Enter button */ 
.login {
  border: none;
  background: none;
  cursor: pointer;
}

.login span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.login svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.login:hover svg {
  transform: translateX(0);
}

.login:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: var(--color-text-I);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-text-I);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.login:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.buttons__container{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.login.backHome svg {
  transform: translateX(8px) scaleX(-1);
}

.login.backHome:hover svg {
  transform: translateX(0) scaleX(-1);
}

.login.backHome .hover-underline-animation:after {
  transform-origin: bottom left;
}

.login.backHome:hover .hover-underline-animation:after {
  transform-origin: bottom right;
}

/* VerifyEmail style */
.verify__container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-footer);
}

.verify__inner{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.verify__inner img{
  width: 240px;
  height: 240px;
  margin: 2px;
}

.verify__inner h2,
.verify__inner p,
.verify__inner button {
  margin: 0;
}

.verify__inner button {
  padding: 10px 20px;
}