.certificate-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 20px;
  gap: 20px;
  padding: 20px;
}

.certificate-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.certificate__iframe{
  width: 100%;
  height: 950px;
  border: none;
}