/* main-culture__container */
.main-culture__container {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.main-title__container {
  color: var(--color-text-I);
  .dark & {
    color: var(--color-text-VII);
  }
}

/* video__container */
.video__container {
  color: var(--color-text-I);
  .dark & {
    color: var(--color-text-VII);
  }
}

.video__container video {
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: center;
}

/* background__container */
.background__container {
  margin-bottom: 30px;
}

.background__title {
  color: var(--color-text-II);
  .dark & {
    color: var(--color-text-VI);
  }
}

.background__description {
  text-align: justify;
  text-justify: inter-word;
  color: var(--color-text-II);
  .dark & {
    color: var(--color-text-VI);
  }
}

/* geographical-location__container */
.geographical-location__subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.geographical-location__title {
  color: var(--color-text-II);
  .dark & {
    color: var(--color-text-VI);
  }
}

.geographical-location__description {
  text-align: justify;
  text-justify: inter-word;
  color: var(--color-text-II);
  .dark & {
    color: var(--color-text-VI);
  }
}

.geographical-location__img {
  width: 90px;
}

/* history__container */
.history__container {
  margin-bottom: 30px;
}

.history-title {
  color: var(--color-text-I);
  .dark & {
    color: var(--color-text-VII);
  }
}

.history-description {
  text-align: justify;
  text-justify: inter-word;
  color: var(--color-text-II);
  .dark & {
    color: var(--color-text-VI);
  }
}

.ul-culture__list li {
  list-style: none;
  margin-bottom: 5px;
  padding-left: 25px;
  color: var(--color-text-II);
  .dark & {
    color: var(--color-text-VI);
  }
}

.chronology__img {
  width: 100%;
}

/* organization__container */
.organization__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.organization__title {
  color: var(--color-text-I);
  .dark & {
    color: var(--color-text-VII);
  }
}

.social-organization__container {
  margin-bottom: 10px;
  color: var(--color-text-I);
  .dark & {
    color: var(--color-text-VII);
  }
}
.social-organization__description {
  text-align: justify;
  text-justify: inter-word;
  color: var(--color-text-II);
  .dark & {
    color: var(--color-text-VI);
  }
}

.economic-organization__container {
  margin-bottom: 10px;
  color: var(--color-text-I);
  .dark & {
    color: var(--color-text-VII);
  }
}
.economic-organization__description {
  text-align: justify;
  text-justify: inter-word;
  color: var(--color-text-II);
  .dark & {
    color: var(--color-text-VI);
  }
}

.politic-organization__container {
  margin-bottom: 10px;
  color: var(--color-text-I);
  .dark & {
    color: var(--color-text-VII);
  }
}
.politic-organization__description {
  text-align: justify;
  text-justify: inter-word;
  color: var(--color-text-II);
  .dark & {
    color: var(--color-text-VI);
  }
}
.organization__img {
  width: 90px;
}

/* cultural-achievements__container */
.cultural-achievements__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  color: var(--color-text-I);
  .dark & {
    color: var(--color-text-VII);
  }
}

.cultural-achievements__description {
  text-align: justify;
  text-justify: inter-word;
  color: var(--color-text-II);
  .dark & {
    color: var(--color-text-VI);
  }
}

.cultural-achievements__img {
  width: 90px;
}

/* beliefs__container */
.beliefs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  color: var(--color-text-I);
  .dark & {
    color: var(--color-text-VII);
  }
}

.beliefs__description {
  text-align: justify;
  text-justify: inter-word;
  color: var(--color-text-II);
  .dark & {
    color: var(--color-text-VI);
  }
}

.beliefs__img {
  width: 90px;
}

/* art__container */
.art__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  color: var(--color-text-I);
  .dark & {
    color: var(--color-text-VII);
  }
}

.art__description {
  text-align: justify;
  text-justify: inter-word;
  color: var(--color-text-II);
  .dark & {
    color: var(--color-text-VI);
  }
}

.art__img {
  width: 90px;
}

/* MARCADOR DE FINAL DE LECTURA */
.text-completed__container {
  height: 20px;
  margin: 40px 0;
  border-top: 4px solid var(--color-background-dark);
  position: relative;
  color: var(--color-text-VI);
  .dark & {
    border-top: 4px solid var(--color-background);
    color: var(--color-text-II);
  }
}

.text-completed__container span{
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-background-dark);
  padding: 0 10px;
  font-size: 1rem;
  .dark & {
    color: var(--color-text-II);
    background: var(--color-background);
  }
}

.text-completed__div {
  padding: 15px;
  background: #d4edda;
  color: #155724;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  border: 1px solid #c3e6cb;
}

/* questions-container */
.questions-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
