/* Informative section */
.section-learning__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
/* First section */
.learn-container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: var(--color-primary-100);
  padding: 30px 10px;
}

.learn-container h2 {
    margin: 10px;
    padding: 10px;
  }

.learning-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.sub-title {
  color: var(--color-text-I);
}

.sub-subtitle {
  color: var(--color-text-II);
}

.description {
  color: var(--color-text-III);
}

.learn-type {
  margin: 10px;
  padding: 10px;
}

/* Second section */
.study-plan__container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-container {
  h2 {
    color: var(--color-text-II);
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
}

.headline-description {
  color: var(--color-text-III);
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.card-study{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-study{
    width: 100%;
    height: 150px;
}

.card-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: flex-end;
}

.sub-subtitle{
    color: var(--color-text-III);
}

.card-study__description{
    color: var(--color-text-IV);
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .card-study{
    flex-direction: column;
    text-align: center;
    margin: 5px;
    padding: 5px;
  }

  .card-study:nth-child(even){
    flex-direction: row-reverse;
  }

  .card-study:nth-child(even) .card-description{
    align-items: flex-end;
    text-align: right;
}

  .img-study {
    margin: 5px;
  }
}
