/* Informative section */
.section-learning__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
/* First section */
.learn-container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: var(--color-primary-100);
  padding: 30px 10px;
  .dark &{
      background: var(--color-primary-950);
    }
}

.learn-container h2 {
    margin: 10px;
    padding: 10px;
    .dark &{
      color: var(--color-text-VII);
    }
  }

.learning-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  gap: 20px;
}

.sub-title {
  color: var(--color-text-II) !important;
}

.sub-subtitle {
  color: var(--color-text-II);
}

.description {
  color: var(--color-text-III);
  .dark &{
      color: var(--color-text-V);
    }
}

.learn-type {
  margin: 10px;
  padding: 10px;
  width: 300px;
  min-height: 260px;
  align-items: center;
}

.learn-type img {
  width: 150px;
  height: 150px;
}

/* Second section */
.study-plan__container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-container {
  h2 {
    color: var(--color-text-II);
    text-align: center;
    margin: 10px;
    padding: 10px;
    .dark &{
      color: var(--color-text-VI);
    }
  }
}

.headline-description {
  color: var(--color-text-III);
  text-align: center;
  margin: 10px;
  padding: 10px;
  .dark &{
      color: var(--color-text-V);
    }
}

.cards-grid{
  display: grid;
  grid-template-rows: repeat(3,auto);
  gap: 35px;
  width: 100%;
  max-width: 1100px;
}

.card-study{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 380px;
    justify-content: space-between;
}

.card-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: flex-end;
}

.img-study{
  width: 340px;
  height: 320px;
  object-fit: contain;
}

.sub-subtitle{
    color: var(--color-text-III);
    .dark &{
      color: var(--color-text-V);
    }
}

.card-study__description{
    color: var(--color-text-IV);
    .dark &{
      color: var(--color-text-VV);
    }
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .card-study{
    flex-direction: column-reverse;
    text-align: center;
    margin: 5px;
    padding: 5px;
  }

  .card-study:nth-child(odd){
    flex-direction: column;
  }


  .img-study {
    margin: 5px;
  }
}
