.hero-container {
  position: relative;
  height: 95vh;
  width: 100%;
  overflow: hidden;
}

.pfp-img {
  width: 100%;
  height: 95vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.bgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-hero__container {
  position: absolute;
  z-index: 10;
  top: 15%;
  left: 15%;
}

.hero-description {
  color: var(--color-text-IV);
}
