.navbar-container {
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  background: var(--color-text-VII);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  .dark &{
      background: var(--color-footer-dark);
    }
}

.appLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.appLogo h1{
  line-height: 60px;
  margin: 0;
  padding: 0;
};

.appLogo img {
  width: 55px;
  height: 55px;
  margin: 2px;
}

.title {
  color: var(--color-text-I);
  text-align: center;
  .dark &{
      color: var(--color-text-VII);
    }
}

/* nav links */
.nav-links__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  padding: 5px 0;
  position: relative;
  color: var(--color-text-II);
  transition: color 0.2s;
  .dark &{
      color: var(--color-text-V);
    }
}

.nav-links a:hover {
  color: var(--color-primary-800);
  .dark &{
      color: var(--color-text-VII);
    }
}

.nav-links a::before {
  top: 0;
  left: 0;
}

.nav-links a::after {
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  height: 2px;
  background: var(--color-primary-800);
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-out;
}

.dark .nav-links a::after {
  background: var(--color-primary--50);
}

.nav-links a:hover::after {
  transform: scaleX(1);
}
