/* Footer */
.dash-footer {
  width: 100%;
  color: var(--color-text-V);
  background: var(--color-footer);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Section main container */
.terms-grid {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

/* Div collaborators */
.collaborators-footer {
  padding: 15px;
}

/* Div social media container */
.social-media__container {
  padding: 15px;
}

.footer-line {
  width: 90%;
}

.footer-line {
  background-color: var(--color-text-V);
  height: 1px;
}

.footer-text {
  padding: 15px;
}

.dash-footer a {
  color: inherit;
  text-decoration: none;
}

.icon-button {
  font-size: 2rem;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-flex;
  align-items: center;
  margin: 5px 10px 0px 10px;
}

.faFacebook {
  &:hover {
    color: #1877f2;
  }
}

.faInstagram {
  &:hover {
    color: #e4405f;
  }
}

.faYoutube {
  &:hover {
    color: #ff0000;
  }
}

.sub-subtitle__footer {
  color: var(--color-text-V);
}

/* Section of terms and conditions*/
.terms-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-logo-img {
  width: 60px;
  height: 60px;
}

.rights {
  color: var(--color-text-V);
}

/* RESPONSIVE DESIGN */
@media (max-width: 600px) {
  .terms-grid {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .collaborators-footer,
  .social-media__container {
    flex: 1 1 100%;
  }
  .icons-container {
    justify-content: center;
  }
}
