.dash-footer {
  width: 100%;
  color: #fff;
  background: #3a3737;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.terms-grid{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.collaborators-footer{
    padding: 15px;
}

.social-media__container{
    padding: 15px;
}

.subtitle{
    font-size: 20px;
}

.footer-line{
    width: 80%;
}

.terms-footer{
    display: flex;
    flex-direction: column;
}

.footer-text{
    padding: 15px;
}

.dash-footer a {
  color: inherit;
  text-decoration: none;
}

.icon-button {
  width: 50px;
  height: 50px;
  font-size: 2.2rem;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-flex;
  align-items: center;
}

.faFacebook {
  &:hover {
    color: #1877f2;
  }
}

.faInstagram {
  &:hover {
    color: #e4405f;
  }
}

.faYoutube {
  &:hover {
    color: #ff0000;
  }
}

.footer-line{
    background-color: #fff;
    height: 1px;
}