.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url("../assets/CulturaInca.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.login-menu{
    width: 35%;
    height: 40%;
    background: rgba(221, 220, 220, 0.35);
    border-radius: 20px;
}

/* Inputs form */
/* From Uiverse.io by AbanoubMagdy1 */ 
.wave-group {
  position: relative;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid var(--color-text-I);
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: var(--color-text-III);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: var(--color-text-I);
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--color-text-I);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

/* Enter button */ 
.login {
  border: none;
  background: none;
  cursor: pointer;
}

.login span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.login svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.login:hover svg {
  transform: translateX(0);
}

.login:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: var(--color-text-I);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-text-I);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.login:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
