.learn-more__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.learn-more-text {
  position: absolute;
  margin-bottom: 85px;
}

.learn-more-text h3{
  color: var(--color-text-V);
}

.learn-more-button {
  position: absolute;
}

.dropdown-circle {
  display: inline-block;
  font-size: 55px;
  color: var(--color-primary-400);
  transition: color 0.3s;
  &:hover {
    color: var(--color-primary-600);
  }
}
