/* Questions section style */
.questions__section{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 25px;
    background: var(--color-primary-950);
    border-radius: 15px;
    padding: 40px;
}

.questions__section>div:last-child{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* Options questions style */
.options-questions{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.option-question {
  display: flex;
  gap: 10px;
  margin: 10px;
  position: relative;
  align-items: center;
  color: var(--color-text-VII);
}

.option-question input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--color-text-VII);
  transform: translateZ(-25px);
  transition: all 0.3s ease-in-out;
}

.radio::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background-color: var(--color-text-VII);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.option-question input[type="radio"]:checked + .radio {
  border-color: var(--color-primary-900);
  transform: translateZ(0px);
  background-color: var(--color-text-VII);
}

.option-question input[type="radio"]:checked + .radio::before {
  opacity: 0;
}

.option-question {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background: var(--color-primary-700);
  border-radius: 15px;
  cursor: pointer;
}

/* Score button style */
.score-button {
 appearance: none;
 background-color: var(--color-background);
 border-radius: 10px;
 box-sizing: border-box;
 color: var(--color-text-I);
 cursor: pointer;
 display: inline-block;
 font-weight: 800;
 line-height: normal;
 margin: 0;
 min-height: 5px;
 min-width: 0;
 outline: none;
 padding: 0.5em 1.5em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

.score-button:disabled {
 pointer-events: none;
}

.score-button:hover {
 color: var(--color-text-VII);
 background-color: var(--color-text-II);
 transform: translateY(-2px);
}

.score-button:active {
 box-shadow: none;
 transform: translateY(0);
}