.main-container{
    display: flex;
    flex-direction: row;
}

.accordion-container{
    width: 20%;
    height: 100vh;
    background-color: var(--color-primary-950);
}

.article-container{
    width: 90%;
    height: 100vh;
    background-color: var(--color-footer);
}