.table--users__container{
    display: flex;
    justify-content: center;
}

.table--users{
    width: 95%;
    gap: 10px;
    margin: 10px;
    margin-top: 20px;
}

.table__thead{
    background-color: var(--color-text-III);
}

.table__thead th{
    padding: 5px  0px;
}

.table__tbody{
    background-color: var(--color-text-IV);
    text-align: center;
}

.table__cell{
    padding: 8px 0px;
}

.table--sections__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.table-sections{
    width: 50%;
    gap: 10pxx;
    margin: 10px;
    margin-top: 10px;
}

.student-progress__title{
    text-align: center;
}