@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {

  /* PRIMARY PALETTE */
  --color-primary-950: #0f2d3d;
  --color-primary-900: #1f465a;
  --color-primary-800: #20536a;
  --color-primary-700: #1d6581;
  --color-primary-600: #1c7d9e;
  --color-primary-500: #1e9bbc;
  --color-primary-400: #39b8d7;
  --color-primary-300: #78d4e8;
  --color-primary-200: #a9e5f1;
  --color-primary-100: #d4f4f9;
  --color-primary--50: #eefbfd;

  /* TEXT COLOR*/
  /* h1 */--color-text-I: #111111;
  /* h2 */--color-text-II: #242424;
  /* h3 */--color-text-III: #414141;
  /* p */--color-text-IV: #5f5f5f;
         --color-text-V: #d4d4d4;
         --color-text-VI: #e7e7e7;
  /* a */--color-text-VII: #ffffff;

  /* BACKGROUNDS COLORS */
  --color-background: #f3f2f2;
  --color-background-dark: #222222;
  --color-footer: #3a3737;
  --color-footer-dark: #1f1d1d;

  /* COLORES DE ESTADO (Feedback) */
  --color-success: #4caf50;
  --color-warning: #ffc107;
  --color-error: #f44336;
  --color-info: #03a9f4;

  /* FONT AND STYLE */
  font-size: clamp(20px, 1.2vw, 18px);
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
