.video-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 960px;
    aspect-ratio: 16/9;
    margin: 0 auto;
    gap: 10px;
}

.video-wrapper .react-player,
.video-wrapper iframe {
    width: 100%;
    height: 100%;
}