/* Main CSS file */

/* Variables style */
@import "./styles/variables.css";

/* General style */
@import "./styles//general.css";
/* Normalize css */
@import "./styles/normalize.css";

/* Footer css*/
@import "./styles/footer.css"