/* Main CSS file */

/* Variables style */
@import "./styles/variables.css";

/* General style */
@import "./styles//general.css";


/* Normalize css */
@import "./styles/normalize.css";

/* Navbar css */
@import "./styles/dashNavbar.css";

/* Hero css */
@import "./styles/dashHero.css";

/* More button */
@import "./styles/moreButton.css";

/* Section css*/
@import "./styles/dashSection.css";

/* Footer css*/
@import "./styles/footer.css";