/* Main CSS file */

/* Variables style */
@import "./styles/variables.css";

/* General style */
@import "./styles//general.css";
/* Normalize css */
@import "./styles/normalize.css";

/* Section css*/
@import "./styles/dashSection.css";

/* Footer css*/
@import "./styles/footer.css";